# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

## Ignore Vim swap files
*~
*.swp

# Ignore Mac OS things
.DS_Store

# Ignore VSCode files
.vscode

# Ignore debbuging files
*.dSYM

## Ignore .o files
*.o
